body{
    margin: 0;
    padding: 0;
}

section#titulo{
    background-color: cadetblue;
    padding: 3% 3% 3% 15%;
    color: aliceblue;
}

h1{
    margin: 0;
}

h2{
    margin-bottom: 5%;
}

.inline-b {
    display: inline;
}

.pd-lft {
    padding-left: 8%;
}